{% extends 'base-admin.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <h1>Realisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ realisation.title }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ realisation.url }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ realisation.text }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ realisation.type }}</td>
            </tr>
            <tr>
                <th>Techs</th>
                <td>{{ realisation.techs ? realisation.techs|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('realisation_index') }}">back to list</a>

    <a href="{{ path('realisation_edit', {'id': realisation.id}) }}">edit</a>

    {{ include('realisation/_delete_form.html.twig') }}
{% endblock %}
